.title{
  text-align: center;
}
.todo-txt{
  color: green;
}
.input-container{
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.todo-btn{
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: 1px solid palegreen;
  border-radius: 10px;
  width: 130px;
  height: 35px;
}
.todo-name , .todo-description{
  width: 300px;
  height: 28px;
}
.status-filter-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 50px;
}